@charset "utf-8";
@font-face {
  font-family: 'main';
  src: url('../data/SKYBORI.ttf') format('truetype');
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  font-family: 'main', sans-serif;
}
main{
  display: flex;
}
aside{
  width: 200px;
  background-color: #ffd79f;
}
aside header{
  flex: 1;
}
aside nav{
  height:400px;
}
aside .spot-menu{ 
  height: 50px;
}

.content{
  width: calc(100% - 200px);
  background-color: #fff1c9;

}

.shortcut{
  background-image: url('../data/그림1.png');
}